# Directories
WS/*
Summaries/*
Sensitivities/*
Optimized/*
Markers/*
LabChart/*
Figures/*
**/Remnants

# Remove MACOS file
*.DS_Store

# Files in Main directory 
Plotmarkers.mat

# Files in Core directory
*.asv
*.out
*.txt
*.log
*.hex
*driver

# Keep an empty text file in each folder so it uploads to GitHub
!tokeepfolder.txt



